.header {
    width: 100vw;
    height: 10vh;
    font-size: 20px;
    background-color: #323131;
    color: white;
    display: flex;
    align-items: center;
}

.navbar {
    max-width: 1200px;
    margin-left: 13%;
}